@import "../../StylesTemplate/mixins";

.item {
   position: relative;
   width: 100%;
   padding: 2rem 1.5rem;
   border-radius: 8px;
   margin-bottom: 1.5rem;
}

.faviconContainer {
   border-radius: 8px;
   padding: 0.8rem;
   margin-right: 1rem;
}

.favicon {
   width: 100%;
   min-width: 30px;
   max-width: 40px;
   height: auto;
}

.copyIcon {
   position: absolute;
   bottom: 10px;
   right: 10px;
   font-size: 1.3rem;
   color: $primaryBlue;
   cursor: pointer;
}
