@import "../../StylesTemplate//mixins";
@import "../../StylesTemplate//colors";

.filtersContainer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 4rem;
}

.search {
   width: 100%;
   max-width: 500px;
   height: 40px;
   border: none;
   outline: none;
   padding: 0.5rem 2rem;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sortContainer {
   display: flex;
   align-items: center;
}

.sortIcons {
   font-size: 30px;
   color: $mediumGray;
   cursor: pointer;

   &:first-child {
      margin-right: 1rem;
   }
}

.activeSortIcon {
   color: $darkBlue;
}
