@import "../../StylesTemplate/colors";
@import "../../StylesTemplate/mixins";

.backgroundLightMode {
   background-image: url("../../Assets/Login/login-bg.jpg");
}

.backgroundDarkMode {
   background-image: url("../../Assets/Login/dark-mode-bg.jpg");
}

.loginPage {
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0 1rem;
}

.loginBox {
   width: 100%;
   max-width: 700px;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 16px;
   padding: 1.5rem 1rem;
}

.boxLightMode {
   background-color: rgba(255, 255, 255, 0.8);
}

.boxDarkMode {
   background-color: rgba(0, 0, 0, 0.4);
}

.heading {
   margin-bottom: 3rem;
}

.headingLightMode {
   @include blueTextGradient;
}

.headingDarkMode {
   @include blueTextGradientDarkMode;
}

.formContent {
   width: 100%;
   max-width: 500px;
}

.inputContainer {
   position: relative;

   &:not(:last-child) {
      margin-bottom: 1rem;
   }
}

.authInput {
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   border-radius: 48px;
   border: none;
   outline: none;
   padding-left: 4rem;
   font-size: 18px;

   @media screen and (max-width: 500px) {
      font-size: 16px;
      height: 40px;
      padding-left: 3rem;
   }
}

.inputLightMode {
   background-color: #fafafa;
}

.inputDarkMode {
   background-color: $elements_Bg_DM;
   color: #ffffff;

   &::placeholder {
      color: #c7c3c3;
   }
}

.inputIcons {
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
   color: $primaryBlue;

   @media screen and (max-width: 500px) {
      font-size: 16px;
   }
}

.loginButton {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   @include roundedButton(100%, 50px);

   @media screen and (max-width: 500px) {
      height: 40px;
   }
}

.goToVaultButton {
   @extend .loginButton;
   max-width: 160px;
}

.darkModeControl {
   position: absolute;
   top: 2rem;
   right: 1rem;
   display: flex;
   align-items: center;
   padding: 0.5rem 1rem;
   background-color: rgba(0, 0, 0, 0.4);
   border-radius: 48px;
}

.emoji {
   width: 100%;
   max-width: 120px;
   height: auto;

   @media screen and (max-width: 992px) {
      max-width: 100px;
   }

   @media screen and (max-width: 500px) {
      max-width: 80px;
   }
}

.orContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 1.5rem 0;
}