@import "../../StylesTemplate/mixins";
@import "../../StylesTemplate/colors";

.inputsContainer {
   margin-top: 3rem;
}

.btnContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.addButton {
   @include gradientButton(100px, 40px);
   margin-right: 1rem;
}

.inputsWrapper {
   position: relative;
   width: 100%;
   margin-bottom: 2rem;
}

.addPswInputs {
   width: 100%;
   height: 50px;
   padding: 0.5rem 0.5rem 0.5rem 3rem;
   border: none;
   outline: none;
   border-radius: 8px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   color: $darkBlue;
}

.inputIcons {
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
   color: $primaryBlue;

   @media screen and (max-width: 500px) {
      font-size: 16px;
   }
}

.spanContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
   text-align: center;
}

.faviconContainer {
   width: 100%;
   display: flex;
   align-items: center;
   margin-top: 1rem;
}

.favicon {
   width: 80px;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   overflow: hidden;
   margin-right: 2rem;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.icon {
   width: 100%;
   max-width: 50px;
   height: auto;
}

.actionContainer {
   display: flex;
   flex-direction: column;
}

.fetchButton {
   @include outlineBlueButton(130px, 35px);
   margin-bottom: 1rem;
}
