@import "../../StylesTemplate/colors";
@import "../../StylesTemplate/mixins";

// large screen
.itemLargeScreen {
   width: 100%;
   height: 80px;
   display: flex;
   background-color: #ffffff;
   border-radius: 8px;
   padding: 1rem;

   &:not(:last-child) {
      margin-bottom: 1rem;
   }

   @media screen and (max-width: 429px) {
      height: unset;
      min-height: 170px;
      flex-direction: column;
   }
}

.col {
   display: flex;
   align-items: center;

   &:not(:last-child) {
      margin-right: 1rem;

      @media screen and (max-width: 500px) {
         margin-right: 0.5rem;
      }
   }
}

.pwdTitleSM {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 2rem;

   @media screen and (min-width: 430px) {
      display: none;
   }

   img {
      margin-right: 1rem;
   }

   span {
      font-size: 24px !important;
   }
}

.faviconCol {
   flex: 1;

   @media screen and (max-width: 429px) {
      display: none;
   }
}

.titleCol {
   flex: 4;

   @media screen and (max-width: 700px) {
      flex: 1;
   }

   @media screen and (max-width: 429px) {
      display: none;
   }
}

.emailCol,
.passwordCol,
.usernameCol {
   flex: 3;
}

.actionsCol {
   flex: 4;
}

.usernameCol {
   @media screen and (max-width: 1250px) {
      display: none !important;
   }
}

.emailCol,
.passwordCol {
   @media screen and (max-width: 991px) {
      display: none !important;
   }
}

.favicon {
   width: 100%;
   min-width: 40px;
   max-width: 50px;
   height: auto;
}

.titleSpan {
   @media screen and (max-width: 1200px) {
      font-size: 20px !important;
   }
   @media screen and (max-width: 700px) {
      font-size: 18px !important;
   }
}

.emailSpan {
   @media screen and (max-width: 1350px) {
      font-size: 16px;
   }
}

.copyIcon {
   font-size: 2rem;
   margin-left: 1rem;
   color: $primaryBlue;
   cursor: pointer;
}

.revealIcon {
   @media screen and (min-width: 1250px) {
      display: none !important;
   }
}
