@import "../../../StylesTemplate/colors";

.imageContainer {
   width: 90px;
   height: 90px;
   background-image: url("../../../Assets/Settings/user-1.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 50%;
   border: 5px solid $primaryBlue;
}
