@import "../../StylesTemplate/colors";
@import "../../StylesTemplate/mixins";

.generatorPage {
   @media screen and (max-width: 600px) {
      padding-bottom: 7rem;
   }
}

.generatorContainer {
   width: 100%;
   display: flex;
   align-items: center;

   @media screen and (max-width: 850px) {
      justify-content: center;
   }
}

.generator {
   width: 100%;
   max-width: 600px;
   display: flex;
   flex-direction: column;
   border-radius: 16px;
   padding: 2rem;
   margin-top: 5rem;

   @media screen and (max-width: 700px) {
      padding: 1rem;
   }

   @media screen and (max-width: 500px) {
      margin-top: 2rem;
   }
}

.generatorLightMode {
   background-color: #ffffff;
}

.passwordInput {
   width: 100%;
   font-size: 20px;
   padding: 1rem;
   border-radius: 8px;
   border: none;
   outline: none;
}

.labelSpan {
   @media screen and (max-width: 350px) {
      display: none;
   }
}

.inputButtons {
   @include outlinePrimaryBlueButton(50%, 40px);
}

.generateButton {
   @include gradientButton(100%, 45px, 8px);
}

.generateButtonDM {
   @include gradientButtonDarkMode(100%, 45px, 8px);
}
