@import "../../StylesTemplate/colors";
@import "../../StylesTemplate/mixins";

.sidebar {
   position: fixed;
   left: 0;
   top: 100px;
   height: 100%;
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   z-index: 20;
   @include verticalGradient;
}

.linksWrapper {
   width: 100%;
}

.linkItem {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 1.2rem 2rem;
   font-size: 20px;
   color: #ffffff;
   font-weight: 700;
   transition: all 0.2s ease-in-out;
   cursor: pointer;

   &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: $darkBlue;
   }
}
