@import "../../StylesTemplate/colors";
@import "../../StylesTemplate/mixins";

.sidebar {
   position: fixed;
   left: 0;
   top: 80px;
   height: 100%;
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 20;

   @media screen and (max-width: 1024px) {
      width: 200px;
      top: 60px;
   }

   @media screen and (max-width: 850px) {
      width: 90px;
   }

   @media screen and (max-width: 700px) {
      display: none;
   }
}

.sidebarLightMode {
   @include verticalGradient;
}

.linksWrapper {
   width: 100%;
}

.linkItem {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 1.2rem 2rem;
   font-size: 20px;
   color: #ffffff;
   font-weight: 700;
   transition: all 0.2s ease-in-out;
   text-decoration: none;
   cursor: pointer;

   &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: $darkBlue;
   }

   svg {
      font-size: 25px;
      margin-right: 1rem;
   }

   @media screen and (max-width: 1024px) {
      font-size: 18px;
      padding: 1.2rem 1.5rem;

      svg {
         font-size: 20px;
      }
   }

   @media screen and (max-width: 850px) {
      justify-content: center;

      svg {
         margin-right: 0;
         font-size: 30px;
      }
   }
}

.activeLink {
   @extend .linkItem;
   background-color: rgba(255, 255, 255, 0.8);
   color: $darkBlue;
}

.linkSpan {
   @media screen and (max-width: 850px) {
      display: none;
   }
}
