$primaryBlue: #3c8dbb;

$darkBlue: #00008b;
// $darkBlue: #4775d1;

$lightGreen: #33cccc;

$primaryDark: #3a3a3a;

$mediumGray: #a9a9a9;

$primaryYellow: #ffd700;

$primaryOrange: #ffae00;

$primaryRed: #e62e00;

// dark mode
$background_DM: #15192a;

$elements_Bg_DM: #1f263c;

$lighter_dark_element: #2f395a;

$primaryBlue_DM: #57afe2;

$darkBlue_DM: #4775d1;

$lightGreen_DM: #65f8f8;
