@import "./colors";

// BUTTONS
@mixin roundedButton($width, $height) {
   width: $width;
   height: $height;
   border-radius: 48px;
   border: none;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   background-color: $primaryBlue;
   color: #ffffff;
   cursor: pointer;
   transition: all 0.2s ease-in-out;

   @media screen and (min-width: 768px) {
      &:hover {
         background: darken($color: $primaryBlue, $amount: 10%);
      }
   }
}

@mixin gradientButton($width, $height, $borderRadius) {
   width: $width;
   height: $height;
   border-radius: $borderRadius;
   border: none;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   color: #ffffff;
   cursor: pointer;
   background-image: linear-gradient(to right, $darkBlue, $primaryBlue, $lightGreen);
}

@mixin gradientButtonDarkMode($width, $height, $borderRadius) {
   width: $width;
   height: $height;
   border-radius: $borderRadius;
   border: none;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   color: #ffffff;
   cursor: pointer;
   background-image: linear-gradient(to right, $darkBlue_DM, $primaryBlue, $lightGreen);
}

@mixin outlineBlueButton($width, $height) {
   width: $width;
   height: $height;
   border-radius: 8px;
   border: 2px solid $darkBlue;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   color: $darkBlue;
   background-color: transparent;
   cursor: pointer;
}

@mixin outlinePrimaryBlueButton($width, $height) {
   width: $width;
   height: $height;
   border-radius: 8px;
   border: 2px solid $primaryBlue;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   color: $primaryBlue;
   background-color: transparent;
   cursor: pointer;
}

// GRADIENTS
@mixin blueTextGradient {
   background-color: $darkBlue;
   background-image: linear-gradient(to right, $darkBlue, $primaryBlue, $lightGreen);
   background-size: 100%;
   background-repeat: repeat;

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}

@mixin blueTextGradientDarkMode {
   background-color: $darkBlue;
   background-image: linear-gradient(to right, $darkBlue_DM, $primaryBlue, $lightGreen);
   background-size: 100%;
   background-repeat: repeat;

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}

@mixin verticalGradient {
   background-image: linear-gradient(to bottom, $darkBlue, $primaryBlue, $lightGreen);
}

@mixin horizontalGradient {
   background-image: linear-gradient(to right, $darkBlue, $primaryBlue, $lightGreen);
}

// SCROLLBAR

@mixin vertical-scrollbar($width) {
   &::-webkit-scrollbar {
      width: $width;

      @media screen and (max-width: 768px) {
         display: none;
      }
   }

   &::-webkit-scrollbar-track {
      border-radius: 10px;
   }

   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $primaryBlue;
   }

   &::-webkit-scrollbar-thumb:hover {
      background-color: darken($color: $primaryBlue, $amount: 10%);
   }
}
