// font weights______________________________________________
.weight-100 {
   font-weight: 100;
}

.weight-200 {
   font-weight: 200;
}

.weight-400 {
   font-weight: 400;
}

.weight-700 {
   font-weight: 700;
}

.weight-900 {
   font-weight: 900;
}

// font sizes_________________________________________________
.size-12 {
   font-size: 12px;
}
.size-14 {
   font-size: 14px;
}
.size-18 {
   font-size: 18px;
}
.size-20 {
   font-size: 20px;
}
.size-26 {
   font-size: 26px;
}
.size-30 {
   font-size: 30px;
}
.size-40 {
   font-size: 40px;
}

.size-64 {
   font-size: 64px;

   @media screen and (max-width: 992px) {
      font-size: 50px;
   }

   @media screen and (max-width: 500px) {
      font-size: 40px;
   }
}

// colored text
.dark-blue-text {
   color: $darkBlue;
}

.primary-blue-text {
   color: $primaryBlue;
}

.cancel-span {
   font-weight: 700;
   font-size: 20px;
   color: $darkBlue;
   cursor: pointer;
}
