@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Fascinate+Inline&family=Montserrat:wght@100;200;400;700;900&family=Neucha&display=swap");
@import "./colors";
@import "./tipography";
@import "./mixins";
@import "./containers";

html,
#root,
body,
.app {
   width: 100%;
   height: 100%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   color: $primaryDark;
}

.app {
   position: relative;
}

.pointer {
   cursor: pointer;
}

.text-center {
   text-align: center;
}

input {
   font-family: "Montserrat", sans-serif;
}

.shadow {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.page {
   min-height: 100vh;
   padding-top: 80px;
   margin-left: 300px;
   padding-left: 4rem;
   padding-right: 4rem;

   @media screen and (max-width: 1440px) {
      padding-left: 2rem;
      padding-right: 2rem;
   }

   @media screen and (max-width: 1024px) {
      padding-top: 60px;
      margin-left: 200px;
   }

   @media screen and (max-width: 850px) {
      margin-left: 90px;
      padding-left: 1rem;
      padding-right: 1rem;
   }

   @media screen and (max-width: 700px) {
      margin-left: 0;
   }
}

.empty-list-image {
   width: 100%;
   max-width: 300px;
   height: auto;
   margin-top: 4rem;
   margin-bottom: 1.5rem;
}
// input number__________________________________________________________________________
input[type="number"] {
   appearance: textfield;
   -webkit-appearance: none;
   -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
   opacity: 0;
   pointer-events: none;
}

// checkbox_______________________________________________________________________________
.container {
   position: relative;
   width: 100% !important;
   max-width: 100% !important;
   padding: 0 !important;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.checkmark {
   position: absolute;
   top: 0;
   right: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
}

.container:hover input ~ .checkmark {
   background-color: #ccc;
}

.container input:checked ~ .checkmark {
   background-color: $primaryBlue;
}

.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.container input:checked ~ .checkmark:after {
   display: block;
}

.container .checkmark:after {
   left: 9px;
   top: 5px;
   width: 7px;
   height: 14px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

// Modal_______________________________________________________________________________
.modal-header {
   border-bottom: none;
}

.modal-content {
   border-radius: 16px;
}

.modal-footer {
   border-top: none;
}

.btn-close {
   position: absolute;
   top: 20px;
   right: 20px;
}

.confirmModalButton {
   @include gradientButton(100px, 40px, 48px);
   margin-right: 1rem;
}
